{% extends admin.getTemplate('list_field_base') %}

{% block field %}
    {% if value is not null %}
        {% set user = admin.getSoundLockUser(object) %}
        <span title="{{ _('Sound is disabled on host') ~ '. ' ~ __('By: %s', user) }}">{{ icon('fugue-speaker-volume-control-mute') }}</span>
    {% endif %}
{% endblock %}
