{# src/Stsbl/FileDistributionBundle/Resources/views/List/field_filedistribution.html.twig #}
{% extends admin.getTemplate('list_field_base') %}

{% block field %}
    {% if value is not null %}
        <span title="{{ _('Sound is disabled on host') }}">{{ icon('fugue-speaker-volume-control-mute') }}</span>
    {% endif %}
{% endblock %}