{# src/Stsbl/FileDistributionBundle/Resources/views/List/field_lock.html.twig #}
{% extends admin.getTemplate('list_field_base') %}

{% block field %}
    {% if value is not null %}
        <span title="{{ __('By: %s', admin.getLockUser(value)) }}">{{ icon('legacy-lock') }}</span>
    {% endif %}
{% endblock %}

{% block value %}{{ value }}{% endblock %}